body
{
    background-color: blueviolet;
}
#form
{
    background-color: white;
    width: 25%;
    margin:180px auto;
    padding:$dpx;
    box-shadow :10px 10px 5px rgb(105,15,190)
    border-radious: 6px;
}
#btn
{
    color:white;
    background-color: rgb(105,15,190)
    padding:10px;
    font-size:large;
    border-radious :10px;
}
@media screen and(max-width:70px)
{
    #form 
    {
        width:65%;
        padding :40px;
    }
}